<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>My Account</title>
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	  	
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	  	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	  	
	  	<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
				  	
	  	<link href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css'>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
		
		<link th:href="@{/styles/button.css}" rel="stylesheet"/>
		<link th:href="@{/styles/landing.css}" rel="stylesheet"/>
		<link th:href="@{/styles/employee_page.css}" rel="stylesheet"/>
		<link th:href="@{/styles/userDetails.css}" rel="stylesheet"/>
		
		<style>
		input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
		#website-title {
			margin-left: 8px;
			margin-right: 8px;
			font-size: 12px;
		}
			
		.ui-datepicker-calendar {
	        display: none;
	    }
    
      	table.uniTableForm td{
	        height:50px;
	        border: 2px solid black;
	        border-color: black;
	        padding-left: 8px;
	        width: 120px;
		 }
		 
		</style>
	</head>

	<body class="pageBody">
	
		<!-- HEADER BAR -->
		<div th:insert="header :: header"></div>
		<!-- END HEADER BAR -->
	
		<!-- SIDEBAR -->
	  	<div th:insert="navBar :: navBar"></div>
	  	<!-- END SIDEBAR -->
	
		<!-- Paypal Delete popup -->
		<div class="modal fade" id="paypalDetailsModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="paypalDetailsModal">Delete PayPal Details</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>This will delete your currently saved PayPal details - are you sure?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<form method="post" action="#"
							th:action="@{/submitPaypalDetailsAction}" th:object="${paypalDetails}">
							<button type="submit" class="btn btn-danger" name="delete">Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- CC Delete popup -->
		<div class="modal fade" id="paymentDetailsModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="paymentDetailsModal">Delete Card Details</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>This will delete your currently saved card details - are you sure?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<form method="post" action="#"
							th:action="@{/submitPaymentDetailsAction}" th:object="${paymentDetails}">
							<button type="submit" class="btn btn-danger" name="delete">Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Direct deposit delete popup -->
		<div class="modal fade" id="depositDetailsModal" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="depositDetailsModal">Delete Direct Deposit Details</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>This will delete your currently saved direct deposit details - are you sure?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<form method="post" action="#"
							th:action="@{/submitDepositDetailsAction}" th:object="${depositDetails}">
							<button type="submit" class="btn btn-danger" name="delete">Delete</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		
			<div class="card h-100 w-100">
				<div class="card-header d-flex justify-content-center">
					<h1 th:if="${selectedMenu == T(edu.sru.cpsc.webshopping.controller.SUB_MENU).USER_DETAILS}">Personal Info</h1>
					<h1 th:if="${selectedMenu == T(edu.sru.cpsc.webshopping.controller.SUB_MENU).PAYMENT_DETAILS}">Card Info</h1>
					<!--<h1 th:if="${selectedMenu == T(edu.sru.cpsc.webshopping.controller.SUB_MENU).PAYPAL_DETAILS}">PayPal Info</h1>-->
					<h1 th:if="${selectedMenu == T(edu.sru.cpsc.webshopping.controller.SUB_MENU).DEPOSIT_DETAILS}">Direct Deposit Info</h1>
				</div>
				
				<div class="card-body">
					<div th:if="${errMessage != null}" th:text="${errMessage}" class="alert alert-danger d-flex justify-content-center h3">
					</div>
						
					<!-- User account details submenu -->
					<form th:if="${selectedMenu == T(edu.sru.cpsc.webshopping.controller.SUB_MENU).USER_DETAILS}"
						action="#" th:action="@{/updateUser}" enctype="multipart/form-data" method="post">
						<div class="row my-2">
							<div class="col-sm-2">
								<div class="card my-2 h-100">
									<img th:if="${user.userImage != null}" th:src="@{/images/userImages/{icon}(icon = ${user.userImage})}" ></img>
									<img th:unless="${user.userImage != null}" th:src="@{/images/userImages/default_user_icon.png}"  ></img>
								</div>
							</div>
							
							<div class="col-sm-5">
								<div class="card my-2 h-100">
									<div class="card-body d-flex justify-content-center">
										<ul class="list-group w-100">
											<li class="list-group-item">Username: <span th:text="${currUser.username}"></span></li>
											<li class="list-group-item">User ID: <span th:text="${displayUserID}"></span></li>
											<li class="list-group-item">Display Name: <span th:text="${displayName}"></span></li>
											<li class="list-group-item">Email: <span th:text="${email}"></span></li>
											<li class="list-group-item">Account Created: <span th:text="${creationDate}"></span></li>
											<li class="list-group-item">Rating: <span th:text="${sellerRating.RatingName}"></span></li>
										</ul>	
									</div>
								</div>
							</div>
		
							<div class="col-sm-5">
								<div class="card w-100 my-2 h-100" >
									<div class="card-header">
										User Description
									</div>
									<div class="card-body">
										<p th:text="${userDescription}"></p>
									</div>
								</div>
							</div>		
						</div>
						<br>
						<div class="mb-3">
							<label for="fileUpload">Choose an image to change profile picture:</label>
							<input type="file" id="fileUpload" name="imageName" accept=".jpg,.img,.png">
						</div>
						<br>
						<div class="row mb-3">
							<div class="col-sm-4">
								<label class="form-label" for="username">Username: </label>
								<input class="form-control" type="text" name="username" th:value="${userName}" id="username" maxlength="20">
							</div>
							<div class="col-sm-4">
								<label class="form-label" for="display">Display Name: </label>
								<input class="form-control" type="text" name="displayName" th:value="${displayName}" id="display" maxlength="20">
							</div>
							<div class="col-sm-4">
								<label class="form-label" for="email">Email Address: </label>
								<input class="form-control" type="text" name="email" id="email" th:value="${email}" maxlength="50">
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="desc">User Description: </label>
							<textarea class="form-control" name="description" th:text="${userDescription}" id="desc" rows="4" cols="5" maxlength="250" style="resize: none;"></textarea>
						</div>
						<div class="d-flex justify-content-evenly mb-3">
							<button type="submit" name="submit" class="btn btn-lg btn-success" value="Update Information">Update</button>
							<a class="btn btn-lg btn-danger" href="/homePage">Return Home</a>
						</div>
					</form>
					
				<!-- Payment details submenu -->
				<form method="post" action="#" th:if="${selectedMenu == T(edu.sru.cpsc.webshopping.controller.SUB_MENU).PAYMENT_DETAILS}"
					th:action="@{/submitPaymentDetailsAction}" th:object="${paymentDetails}">
					<div th:if="${savedDetails != null and addNew == false and relogin == false}">
						<div class="d-flex justify-content-center">
							<h2>Current Payment Details</h2>
						</div>
						<div style="margin-bottom: 4px;  background-color: #FBD8B4; width:fit-content; margin-left:auto; margin-right:auto;" th:if="${defaultPaymentDetails != null}" class="d-flex justify-content-center">
						<th:block th:if="${updateId == -1 or updateId == defaultPaymentDetails.id}">
							<h3 th:inline="text">Default:&nbsp[[${defaultPaymentDetails.cardType}]]&nbspEnding In:&nbsp[[${defaultPaymentDetails.last4Digits}]]</h3>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/updatePaymentDetails/{id}(id = ${defaultPaymentDetails.id})}">Edit</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-danger" th:href="@{/deleteExistingPaymentDetails/{id}(id = ${defaultPaymentDetails.id})}">X</a>
							</th:block>
						</div>
						<th:block th:if="${defaultPaymentDetails == null}">
						<div style="margin-bottom: 4px" th:each="detail: ${savedDetails}" class="d-flex justify-content-center">
						<th:block th:if="${updateId == -1 or updateId == detail.id}">
							<h3 th:inline="text">[[${detail.cardType}]]&nbspEnding In:&nbsp[[${detail.last4Digits}]]</h3>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/makeDefaultPaymentDetails/{id}(id = ${detail.id})}">Make Default</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/updatePaymentDetails/{id}(id = ${detail.id})}">Edit</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-danger" th:href="@{/deleteExistingPaymentDetails/{id}(id = ${detail.id})}">X</a>
							</th:block>
						</div>
						</th:block>
						
						<th:block th:unless="${defaultPaymentDetails == null}">
						<div style="margin-bottom: 4px" th:each="detail: ${savedDetails}" class="d-flex justify-content-center">
						<th:block th:if="${detail.id != defaultPaymentDetails.id}">
						<th:block th:if="${updateId == -1 or updateId == detail.id}">
							<h3 th:inline="text">[[${detail.cardType}]]&nbspEnding In:&nbsp[[${detail.last4Digits}]]</h3>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/makeDefaultPaymentDetails/{id}(id = ${detail.id})}">Make Default</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/updatePaymentDetails/{id}(id = ${detail.id})}">Edit</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-danger" th:href="@{/deleteExistingPaymentDetails/{id}(id = ${detail.id})}">X</a>
							</th:block>
						</th:block>
						</div>
						</th:block>
					</div>
					<div th:unless="${savedDetails != null}">
					<div class="d-flex justify-content-center">
						<h2>Currently No Saved Payment Details</h2>
					</div>
					</div>
					<div th:if="${!addNew and !update and !delete}">
							<h3 class="d-flex justify-content-center"><a class="btn btn-lg btn-success" th:href="@{/addNewCard}">Add New Card</a></h3>
						</div>
					<div th:if="${addNew and relogin == false or update and relogin == false}">
					
						<table style="width:20vw; justify-content:center; margin-left:auto; margin-right:auto;" class="uniTableForm">
										<thead>
											<tr>
												<td style="background-color: #D3D3D3;" colspan="3" th:if="${!update}"><h2>Add New Payment Details</h2></td>
												<td style="background-color: #D3D3D3;" colspan="3" th:unless="${!update}"><h2>Update Payment Details</h2></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="background-color: #89CFF0" colspan="3"><label for="cardType" class="form-label">Card Type</label></td>
											</tr>
											<tr>
												<td colspan="3"><select class="form-select" id="cardType" name="cardType">
													<option th:each="type : ${cardTypes}"
														th:value="${type.cardType}" th:text="${type.cardType}">
													</option>
												</select></td>
											</tr>
											<tr>
												<td style="background-color: #89CFF0" colspan="3"><label for="cardholderName" class="form-label">Cardholder Name</label></td>
											</tr>
											<tr>
												<td colspan="3"><input type="text" class="form-control" th:field="*{cardholderName}"></input>
												<p th:if="${#fields.hasErrors('cardholderName')}" th:errors="*{cardholderName}">
												</p></td>
											</tr>
											<tr>
												<td style="background-color: #89CFF0" colspan="3"><label for="cardNumber" class="form-label">Card Number</label></td>
											</tr>
											<tr>
												<td colspan="3"><input type="number" class="form-control" th:field="*{cardNumber}"></input>
												<p th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}">
												</p></td>
											</tr>
											<tr>
												<td style="background-color: #89CFF0"><label for="expirationDate" class="form-label">Expiration Date</label></td>
												<td style="background-color: #89CFF0"><label for="securityCode" class="form-label">Security Code</label></td>
												<td style="background-color: #89CFF0"><label for="postalCode" class="form-label">Postal Code</label></td>
											</tr>
											<tr>
												<td><input style="display:none" type="month" name="pleaseWork">
												<input th:field="*{expirationDate}" name="expirationDate" class="form-control date-picker" autocomplete="do-not-autofill"/> 
												<script type="text/javascript"> <!--used for learning how to use jQuery to get month and year since input type="month" doesn't work on firefox https://stackoverflow.com/questions/2208480/jquery-ui-datepicker-to-show-month-year-only -->
											        $(function() {
											            $('.date-picker').datepicker( {
											            changeMonth: true,
											            changeYear: true,
											            showButtonPanel: true,
											            dateFormat: 'M yy',
											            onClose: function(dateText, inst) { 
											                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
											            }
											            });
											        });
											    </script>
												<p th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}">
												</p>
												<p th:if="${cardError}" th:text="${cardError}"></p></td>
												<td><input type="text" class="form-control" name="securityCode" id="securityCode" th:field="*{securityCode}"></input>
												<p th:if="${#fields.hasErrors('securityCode')}" th:errors="*{securityCode}">
												</p></td>
												<td><input type="number" class="form-control" name="postalCode" id="postalCode" th:field="*{postalCode}"></input>
												<p th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">
												</p></td>
											</tr>
										</tbody>
									</table>
							<div style="margin-top:5px;" class="d-flex justify-content-center mb-3">
								<button style="margin-right:50px;" th:if="${!update}" type="submit" name="submit" class="btn btn-lg btn-success">Add</button>
								<button style="margin-right:50px;" th:unless="${!update}" type="submit" name="update" class="btn btn-lg btn-success">update</button>
								<button type="button" class="btn btn-lg btn-danger" disabled
										th:if="${currUser.paymentDetails == null}">No Payment Details Added</button>
								<a style="margin-left:50px;" class="btn btn-lg btn-danger" th:href="@{/goBackToMainPD}">Back</a>
							</div>
					</div>
					
					<div th:if="${relogin}">
						<div class="d-flex justify-content-center">
								<h2 th:if="${delete == false}">Please Confirm by Logging In</h2>
								<h2 th:unless="${delete == false}">Please Confirm That You Wish To Delete by Logging In</h2>
						</div>
						<div th:if="${loginError}" class="d-flex justify-content-center">
								<h3>Incorrect Username or Password Entered</h3>
						</div>
						<div class="d-flex justify-content-center">
			        	<div class="card w-30 shadow bg-light mt-2 mb-3">
			       			<div class="card-body d-flex flex-column align-items-center">
						        <div class="form-floating shadow-sm mb-1 mt-3 w-75">
						  			<input type="text" id="usernamePD" class="form-control" name="usernamePD">
						  			<label for="usernamePD">username</label>
								</div>
								<div class="form-floating shadow-sm mt-1 mb-1 w-75">
						  			<input type="password" id="passwordPD" class="form-control" name="passwordPD">
						  			<label for="passwordPD">password</label>
								</div>
							</div>
							<div class="d-flex justify-content-evenly mb-3">
								<button th:if="${delete == false}" type="submit" name="loginInfo" class="btn btn-lg btn-success">submit</button>
								<button th:unless="${delete == false}" type="submit" name="delete" class="btn btn-lg btn-success">delete</button>
								<a class="btn btn-lg btn-danger" th:href="@{/goBackToMainPD}">Back</a>
							</div>
						</div>   
						</div>   
    				</div>
				</form>
				
				<!-- Paypal submenu -->
				<!-- <form method="post" action="#" th:if="${selectedMenu == T(edu.sru.cpsc.webshopping.controller.SUB_MENU).PAYPAL_DETAILS}"
					th:action="@{/submitPaypalDetailsAction}" th:object="${paypalDetails}">
					<div class="d-flex justify-content-center">
						<h2>Update Paypal Details</h2>
					</div>
					<div class="mb-3">
						<label class="form-label" for="paypalLogin">
							Paypal Email
						</label>
						<input class="form-control" type="email" th:field="*{paypalLogin}">
						<p th:if="${#fields.hasErrors('paypalLogin')}" th:errors="*{paypalLogin}">
					</div>
					<div class="mb-3">
						<label class="form-label" for="paypalPassword">Paypal Password</label>
						<input class="form-control" type="password" th:field="*{paypalPassword}">
						<p th:if="${#fields.hasErrors('paypalPassword')}" th:errors="*{paypalPassword}">
					</div>
					<div class="d-flex justify-content-evenly mb-3">
						<button type="submit" name="submit" class="btn btn-lg btn-success">Update</button>
						<button type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" 
								data-bs-target="#paypalDetailsModal"
								th:if="${currUser.paypal != null}">Delete Existing</button>
						<button type="button" class="btn btn-lg btn-danger" disabled
								th:if="${currUser.paypal == null}">No Paypal Account Added</button>
					</div>
				</form>-->
					
				<!-- Deposit details submenu -->
				<form method="post" action="#" th:if="${selectedMenu == T(edu.sru.cpsc.webshopping.controller.SUB_MENU).DEPOSIT_DETAILS}"
					th:action="@{/submitDepositDetailsAction}" th:object="${directDepositDetails}">
						<div class="d-flex flex-column justify-content-center">
								<div class="card-body d-flex flex-column">
									<table style="width:20vw; justify-content:center; margin-left:auto; margin-right:auto;" class="uniTableForm">
										<thead>
											<tr>
												<td colspan="2" style="background-color: #D3D3D3;"><h2>Update Direct Deposit Details</h2></td>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td style="background-color: #89CFF0" colspan="2"><label style="background-color: #89CFF0" class="form-label" for="accountholderName">Account holder Name</label></td>
											</tr>
											<tr>
												<td colspan="2"><input class="form-control" type="text" th:field="*{accountholderName}"></input>
													<p th:if="${#fields.hasErrors('accountholderName')}" th:errors="*{accountholderName}"></p></td>
											</tr>
											<tr>
												<td style="background-color: #89CFF0" colspan="2"><label class="form-label" for="routingNumber">Routing Number</label></td>
											</tr>
											<tr>
												<td colspan="2"><input class="form-control" type="number" th:field="*{routingNumber}"></input>
												<p th:if="${#fields.hasErrors('routingNumber')}" th:errors="*{routingNumber}"></p></td>
											</tr>
											<tr>
												<td style="background-color: #89CFF0" colspan="2"><label class="form-label" for="accountNumber">Account Number</label></td>
											</tr>
											<tr>
												<td colspan="2"><input class="form-control" type="number" th:field="*{accountNumber}"></input>
												<p th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></p></td>
											</tr>
											<tr>
												<td style="background-color: #89CFF0" colspan="2"><label class="form-label" for="bankName">Bank Name</label></td>
											</tr>
											<tr>
												<td colspan="2"><input class="form-control" type="text" th:field="*{bankName}"></input>
												<p th:if="${#fields.hasErrors('bankName')}" th:errors="*{bankName}"></p></td>
											</tr>
											<!-- <button type="button" class="btn btn-lg btn-danger" disabled
													th:if="${currUser.directDepositDetails == null}">No Deposit Details Added</button></div> -->
										</tbody>
									</table>
									<div style="margin-top:5px;" class="d-flex justify-content-center mb-3">
										<button style="margin-right:50px;" type="button" class="btn btn-lg btn-danger" data-bs-toggle="modal" 
										data-bs-target="#depositDetailsModal"
										th:if="${currUser.directDepositDetails != null}">Delete Existing</button>
										<button type="submit" name="submit" class="btn btn-lg btn-success" style="margin-left:50px; float: right">Update</button>
									</div>
								</div>
						</div>
						
				</form>
				
				<!-- Shipping Details Submenu -->
				<form method="post" action="#" th:if="${selectedMenu == T(edu.sru.cpsc.webshopping.controller.SUB_MENU).SHIPPING_DETAILS}"
					th:action="@{/submitShippingAddressAction}" th:object="${shippingDetails}">
					<div th:if="${savedShippingDetails != null and addNew == false and relogin == false}">
						<div class="d-flex justify-content-center">
							<h2>Current Shipping Details</h2>
						</div>
						<div style="margin-bottom: 4px; background-color: #FBD8B4; width:fit-content; margin-left:auto; margin-right:auto;" th:if="${defaultShippingDetails != null}" class="d-flex justify-content-center">
						<th:block th:if="${updateId == -1 or updateId == defaultShippingDetails.id}">
							<h3 th:inline="text">Default:&nbspAddress:&nbsp[[${defaultShippingDetails.streetAddress}]],&nbsp[[${defaultShippingDetails.city}]],&nbsp[[${defaultShippingDetails.state.stateName}]],&nbsp[[${defaultShippingDetails.postalCode}]]</h3>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/updateShippingDetails/{id}(id = ${defaultShippingDetails.id})}">Edit</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-danger" th:href="@{/deleteExistingShippingDetails/{id}(id = ${defaultShippingDetails.id})}">X</a>
							</th:block>
						</div>
						<th:block th:if="${defaultShippingDetails == null}">
						<div style="margin-bottom: 4px" th:each="detail: ${savedShippingDetails}" class="d-flex justify-content-center">
						<th:block th:if="${updateId == -1 or updateId == detail.id}">
							<h3 th:inline="text">Address:&nbsp[[${detail.streetAddress}]],&nbsp[[${detail.city}]],&nbsp[[${detail.state.stateName}]],&nbsp[[${detail.postalCode}]]</h3>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/makeDefaultShippingDetails/{id}(id = ${detail.id})}">Make Default</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/updateShippingDetails/{id}(id = ${detail.id})}">Edit</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-danger" th:href="@{/deleteExistingShippingDetails/{id}(id = ${detail.id})}">X</a>
							</th:block>
						</div>
						</th:block>
						
						<th:block th:unless="${defaultShippingDetails == null}">
						<div style="margin-bottom: 4px" th:each="detail: ${savedShippingDetails}" class="d-flex justify-content-center">
						<th:block th:if="${detail.id != defaultShippingDetails.id}">
						<th:block th:if="${updateId == -1 or updateId == detail.id}">
							<h3 th:inline="text">Address:&nbsp[[${detail.streetAddress}]],&nbsp[[${detail.city}]],&nbsp[[${detail.state.stateName}]],&nbsp[[${detail.postalCode}]]</h3>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/makeDefaultShippingDetails/{id}(id = ${detail.id})}">Make Default</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-success" th:href="@{/updateShippingDetails/{id}(id = ${detail.id})}">Edit</a>
							<a style="margin-left:5px; margin-right: 5px;" class="btn btn-lg btn-danger" th:href="@{/deleteExistingShippingDetails/{id}(id = ${detail.id})}">X</a>
							</th:block>
						</th:block>
						</div>
						</th:block>
					</div>
					<div th:unless="${savedShippingDetails != null}">
					<div class="d-flex justify-content-center">
						<h2>Currently No Saved Shipping Details</h2>
					</div>
					</div>
					<div th:if="${!addNew and !update and !delete}">
							<h3 class="d-flex justify-content-center"><a class="btn btn-lg btn-success" th:href="@{/addShippingDetails}">Add Shipping Details</a></h3>
						</div>
					<div th:if="${addNew and relogin == false or update and relogin == false}">
					<div class="d-flex justify-content-center">
						<h2 th:if="${!update}">Add New Shipping Details</h2>
						<h2 th:unless="${!update}">Update Shipping Details</h2>
					</div>
					
					<div style="width:20vw; justify-content:center; margin-left:auto; margin-right:auto;"  th:if="${shippingError != null}" class="alert alert-danger d-flex justify-content-center">
						<h2 th:text="${shippingError}"></h2>
					</div>
					
					<table style="width:20vw; justify-content:center; margin-left:auto; margin-right:auto;" class="uniTableForm">
								<thead>
              						<tr>
              							<td colspan="3" style="background-color: #D3D3D3;"><h4>Confirm Shipping Address</h4></td>
              						</tr>
              					</thead>
              					<tbody>
              						<tr>
              							<td colspan="3" style="background-color: #89CFF0"><label for="recipient" class="form-label">Recipient</label></td>
									</tr>
									<tr>
										<td colspan="3"><input type="text" th:field="*{recipient}" class="form-control"></input>
											<p th:if="${recipientErr != null}" th:text="${recipientErr}"></p></td>
									</tr>
									<tr>
										<td colspan="3" style="background-color: #89CFF0"><label for="streetAddress" class="form-label">Street Address</label></td>
									</tr>
									<tr>
										<td colspan="3"><input type="text" th:field="*{streetAddress}" class="form-control"></input>
											<p th:if="${streetAddressErr != null}" th:text="${streetAddressErr}"></p></td>
									</tr>
									<tr>
										<td colspan="3" style="background-color: #89CFF0"><label for="extraLocationInfo" class="form-label">Apt, suite, unit, building, floor, etc.</label></td>
									</tr>
									<tr>
										<td colspan="3"><input type="text" th:field="*{extraLocationInfo}" class="form-control"></input></td>
									</tr>
									<tr>
										<td style="background-color: #89CFF0"><label for="city" class="form-label">City</label></td>
										<td style="background-color: #89CFF0"><label for="state" class="form-label">State</label></td>
										<td style="background-color: #89CFF0"><label for="postalCode" class="form-label">Postal Code</label></td>
									</tr>
									<tr>
										<td><input type="text" th:field="*{city}" class="form-control"></input>
											<p th:if="${cityErr != null}" th:text="${cityErr}"></p></td>
										<td><select class="form-select" id="stateId" name="stateId"><option th:each="state : ${states}" th:value="${state.stateName}" th:text="${state.stateName}"></option></select>
											<p th:if="${stateIdErr}" th:text="${stateId}"></p></td>
										<td><input type="number" th:field="*{postalCode}" class="form-control"></input>
											<p th:if="${postalCodeErr != null}" th:text="${postalCodeErr}"></p></td>
									</tr>
              					</tbody>
							</table>

					<div style="margin-top:5px;" class="d-flex justify-content-center mb-3">
						<button style="margin-right:50px;" th:if="${!update}" type="submit" name="submit" class="btn btn-lg btn-success">Add</button>
						<button style="margin-right:50px;" th:unless="${!update}" type="submit" name="update" class="btn btn-lg btn-success">update</button>
						<button type="button" class="btn btn-lg btn-danger" disabled
								th:if="${currUser.shippingDetails == null}">No Shipping Details Added</button>
						<a style="margin-left:50px;" class="btn btn-lg btn-danger" th:href="@{/goBackToMainSD}">Back</a>
					</div>
					</div>
					
					<div th:if="${relogin}">
						<div class="d-flex justify-content-center">
								<h2 th:if="${delete == false}">Please Confirm by Logging In</h2>
								<h2 th:unless="${delete == false}">Please Confirm That You Wish To Delete by Logging In</h2>
						</div>
						<div th:if="${loginError}" class="d-flex justify-content-center">
								<h3>Incorrect Username or Password Entered</h3>
						</div>
						<div class="d-flex justify-content-center">
			        	<div class="card w-30 shadow bg-light mt-2 mb-3">
			       			<div class="card-body d-flex flex-column align-items-center">
						        <div class="form-floating shadow-sm mb-1 mt-3 w-75">
						  			<input type="text" id="usernameSA" class="form-control" name="usernameSA">
						  			<label for="usernameSA">username</label>
								</div>
								<div class="form-floating shadow-sm mt-1 mb-1 w-75">
						  			<input type="password" id="passwordSA" class="form-control" name="passwordSA">
						  			<label for="passwordSA">password</label>
								</div>
							</div>
							<div class="d-flex justify-content-evenly mb-3">
								<button th:if="${delete == false}" type="submit" name="loginInfo" class="btn btn-lg btn-success">submit</button>
								<button th:unless="${delete == false}" type="submit" name="delete" class="btn btn-lg btn-success">delete</button>
								<a class="btn btn-lg btn-danger" th:href="@{/goBackToMainSD}">Back</a>
							</div>
						</div>   
						</div>   
    				</div>
				</form>
			</div>
		</div>
	</body>
</html> 